* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #313437;
}

body {
  background-color: #e9edf2;
}

header {
  background-color: white;
  padding: 10px;
  margin-bottom: 45px;
}

header img {
  padding-left: 25px;
  vertical-align: middle;
}

h1 {
  display: inline-block;
  vertical-align: middle;
}

h2 {
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}

.mini-container {
  border-bottom: 3px solid #e9edf2;
  padding: 15px;
}

.button-blue {
  display: inline-block;
  color: white;
  background-color: #2375d7;
  margin-left: 35px;
  padding: 7px;
  border-radius: 5px;
}

.button-white {
  display: inline-block;
  color: lightgray;
  background-color: white;
  padding: 7px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.big-container {
  padding: 50px;
}

.menus {
  padding-bottom: 40px;
}

.check {
  color: green;
}

.cross {
  color: red;
}

.row {
  padding: 8px;
}

.oval {
  display: inline-block;
  font-size: 15px;
  color: white;
  padding: 7px;
  border-radius: 20px;
}

.editorial {
  background-color: #2375d7;
}

.goals {
  background-color: violet;
}

.recruting {
  background-color: green;
}

.mobile {
  background-color: orange;
}

.website {
  background-color: purple;
}

.sales {
  background-color: lightgreen;
}

/* ul {
  padding-left: 40px;
  list-style-type: none;
} */
